[Unit]
Description=MediaMTX on-demand Arlo restreamer
Requires=arlo-wlan.service
After=arlo-wlan.service arlo-cam-api.service

[Service]
Type=simple
User=mediamtx
Group=mediamtx
Restart=on-failure
RestartSec=5
ExecStart=/usr/local/bin/mediamtx /opt/mediamtx/mediamtx.yml
NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=strict
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
RestrictSUIDSGID=true
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX

[Install]
WantedBy=multi-user.target
